.navbar-default .navbar-brand{
    color: white;
}
.navbar-default .navbar-brand:hover{
    color: black;
}
body {
    padding-bottom: 60px;
}
nav.navbar {
    background-color: #23b7e5;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
div.jumbotron h1, div.jumbotron p {
    text-align: center;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: black;
}
div.container p.muted-text {
    margin: 10px 0;
}
.muted-text {
    color: #777
}
